/*
 * jQuery Video Popup Plugin Stylesheet
 * Version: 1.0
 *
 * Author: Nick Rivers
 * http://nrivers.com
 *
 *
 * Changelog:
 * Version: 1.0
 *
 */

#dvGlobalMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5000;
	background-color:#3F3F3F;
}

#videopopup {
    background: none;
    box-shadow: ;
    display: none;
    padding-bottom: 5px;
	position: absolute;
    z-index: 8000;
	border: 15px solid #fff;
	position:relative;
	box-sizing:content-box;
}

.modalnav {
    cursor: pointer;
    height: 46px;
	width: 44px;
	position:absolute;
	right:-35px;
	top:-35px;
	background: url("images/closebtn.png") 0px 0px;
}

.modalnav:hover {
    background: url("images/closebtn.png") 0px 0px;
}

a {
    color: #002B54;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.clear {
    clear: both;
    display: block;
}

body {
	background-color:#ccc;
}

.container {
	
	margin:0 auto;
	
}




@media screen and (max-width: 1024px) {
	#videopopup {
		max-width:80%;
	}

	iframe {
		max-width:100%;
	}
}
